include LICENSE
include VERSION
include *.py
include *.pyx
include */*.pyx
exclude *.c
exclude *.cpp
exclude */*.c
exclude */*.cpp
include .dockerignore
include Dockerfile
include environment.yml
include patch_and_check.sh
include tox.ini
include requirements.txt
include docker-setup.sh
